<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190691769827-gc4nrkgfndeiddfv8ueio12oa3lcj9sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190691769827-gc4nrkgfndeiddfv8ueio12oa3lcj9sr</string>
	<key>API_KEY</key>
	<string>AIzaSyBa3ioFTmAoeEwd0sid1b9FPVm8BXtN9uA</string>
	<key>GCM_SENDER_ID</key>
	<string>190691769827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.akademiHubFlutter</string>
	<key>PROJECT_ID</key>
	<string>akademihubflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>akademihubflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190691769827:ios:7315aaa72f561cfd72b4d6</string>
</dict>
</plist>